nav[b-d13n4iuesv] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5em;
    margin-right: 5%;
background-color: #302F2D;
    
    width:100%;

  }

  nav ul[b-d13n4iuesv] {
    margin-right: 5%;
    display: flex;
    justify-content: space-between; /* Justera länkarna horisontellt */
    align-items: center; /* Centrera länkarna vertikalt */
  }
  nav li[b-d13n4iuesv] {
    margin-top: 1em;
    margin-left: 5rem;
    list-style: none;
  }
  
  .hamburger[b-d13n4iuesv] {
    display: none;
  }
  
  #logo[b-d13n4iuesv] {
    max-width: 2.2em;
    z-index: 3;
    padding: 2%;
  color:white;
  font-size: 4em;
  }


.bar[b-d13n4iuesv] {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
  }
  
  /*media queries navigering*/
  @media (max-width: 1040px) {
    nav ul[b-d13n4iuesv] {
      position: fixed;
      left: -100%;
      top: 4rem;
      flex-direction: column;
      background-color: #302F2D;
      width: 100%;
      text-align: center;
      transition: 0.6s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      z-index: 1;
    }
    nav .navMenu.active[b-d13n4iuesv] {
      left: 0;
    }
    nav li[b-d13n4iuesv] {
      margin: 3.5rem 0;
    }
    .hamburger[b-d13n4iuesv] {
      display: block;
      cursor: pointer;
      z-index: 2;
      color:white;
    }
    .hamburger.active .bar:nth-child(2)[b-d13n4iuesv] {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1)[b-d13n4iuesv] {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3)[b-d13n4iuesv] {
      transform: translateY(-8px) rotate(-45deg);
    }
  }